<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899394253518-ge14cob0hn8uhgcv02mddfej3tjornie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899394253518-ge14cob0hn8uhgcv02mddfej3tjornie</string>
	<key>API_KEY</key>
	<string>AIzaSyAj_2T1v5C6Hoc_0o2obQbXhtorl1Qm6-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>899394253518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sabak33Firebase1</string>
	<key>PROJECT_ID</key>
	<string>todo-1f283</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-1f283.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899394253518:ios:9e7a564611d25641d6169f</string>
</dict>
</plist>