<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162860758777-6d530jikf6vqh7dq0rgd0q1gga8gb9l1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162860758777-6d530jikf6vqh7dq0rgd0q1gga8gb9l1</string>
	<key>API_KEY</key>
	<string>AIzaSyCMFWYo7a4zjUoXzAq9o4R4dou7iwGTLQg</string>
	<key>GCM_SENDER_ID</key>
	<string>162860758777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sabak33Firebase1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todo-c0d50</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-c0d50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162860758777:ios:7cab96d17f524bce30d428</string>
</dict>
</plist>